<a href="https://colab.research.google.com/github/angelgold1004/stock_market_analysis/blob/main/2%EC%9D%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료형

##문자열
Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD]  부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [16]:
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

# 결과값
# 881120
# 1068234

881120
1068234

Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자

In [7]:
pin = "881120-1068234"
print(pin[7])

#결과값
# 1

1

##리스트
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

In [17]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

In [20]:
a = ['Life','is','too', 'short']
result = " "
print(result.join(a))

Life is too short

##튜플
Q1. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자

In [21]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

##딕셔너리
Q1. 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

In [22]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a) #B를 추출한 후 딕셔너리
print(result) #B에 해당되는 값

#결과값
#{'A':90, 'C':70}
# 80

{'A': 90, 'C': 70}
80

##세트
Q1. a리스트에서 중복된 숫자들을 제거해보자

In [23]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

#결과값
#[1,2,3,4,5]

[1, 2, 3, 4, 5]

##변수
Q1. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 아래와 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자

In [24]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

등호를 기준으로 리스트가 b에 대입하고, 다시 b의 값이 a에 대입이 되었고, a 리스트 1번 인덱스(두번째) 위치에 아이템 4로 새로운 값이 할당되었고, 출력 b를 하여도 a와 같은 리스트가 출력되는건 a와 b가 같은 리스트를 가리키기 때문이다.

---

Q2.`x`원을 지불하기 위해서 `y`원 짜리(또는 `z`원 짜리) 동전을 몇 개 내야하는지 출력하시오.
```
x = 3928
y = 500
z = 100
```
**출력 예시**
```
500원짜리 동전 8개를 내세요
```

```
100원짜리 동전 40개를 내세요
```

In [33]:
x = 3928
y = 500
z = 100

print(y,'원짜리 동전', x//y+1,'개를 내세요')
print(z,'원짜리 동전', x//z+1,'개를 내세요')

500 원짜리 동전 8 개를 내세요
100 원짜리 동전 40 개를 내세요

---

Q3. 세 수의 평균을 구하시오

```
a = 21.9
b = 37
c = 13.6
```

In [34]:
a = 21.9
b = 37
c = 13.6

print(a+b+c/3)

63.43333333333333